@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  /* 高度扩展 */
  --height-1-1-full: 110%;
  --height-2-full: 200%;

  /* 宽度扩展 */
  --width-1-11: 9.090909%;
  --width-10-11: 90.909091%;

  /* 内边距扩展 */
  --spacing-73: 18.25rem;

  /* 字体家族 */
  --font-display: "Times New Roman", NSimSun;

  /* 背景图片 */
  --bg-image-letter-paper: url("/bg/letter-paper.png");
  --bg-image-harvard-img1: url("/bg/photo_1.jpg");
  --bg-image-harvard-img2: url("/bg/photo_2.jpg");

  /* 颜色 */
  --color-cover-left: #c56c70;
  --color-cover-right: #c1daba;
  --color-collabor-item: #f9f9f9;
  --color-footer-bg: #d29c9c;
  --color-tabs-header: #f3f4f6;
  --color-nav-bg: #ffffff;
  --color-pdf-top: #7a2b2b;
  --color-pdf-middle: #a12c2c;
  --color-pdf-bottom: #7e3636;

  /* 圆角 */
  --radius-edge: 1rem;

  /* 边框图片 */
  --border-image-gradient-border: linear-gradient(to right, #c06e74, #c1daba) 1;

  /* 阴影 */
  --shadow-blurred-edge: 0 0 10px 5px rgba(192, 110, 116, 0.5);
}

@utility aspect-* {
  aspect-ratio: --value(--aspect-ratio-*, ratio, [ratio]);
}